.responsiveCal {
    position: relative;
    padding-bottom: 75%;
    height: 100%;
    width: 95vw;
    text-align:center;
    overflow: hidden;
    margin: auto;
}

.responsiveCal iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    height: 100%;
    display: block;
}