/* You can add global styles to this file, and also import other style files */
/* @import "assets/css/bootstrap.min.css";
@import "assets/css/font-awesome.min.css";
@import "assets/css/footer.css";
@import "assets/css/mdb.min.css";
@import "assets/css/menu.css";
@import "assets/css/responsive.css";
@import "assets/css/style.css";
@import "assets/css/swiper.css"; */
.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}
.dropdown-menu-right { 
    right: 0; 
    left: auto; 
}
